.product-page-wrapper{
    position: relative;
}

.product-list-section{
    display: flex;
    justify-content: space-between;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    column-gap: 10px;
    row-gap: 15px;
    width: 70%;

    @media screen and (max-width:910px){
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width:767px){
        grid-template-columns: repeat(1, 1fr);
    }
}

.product-filter{
    width: 25%;

    @media screen and (max-width:767px){
        width: 100%;
        position: fixed;
        z-index: 100;
        top: 60px;
        right: 0;
        bottom: -54px;
    }
}
